.background{
    background-image: url('./assets/doct6.jpg');
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode:color-dodge;
    background-attachment: fixed;
}

@media (max-width: 640px) {
    .background{
        height: 65vh;
    }
}
/* .nav_toggler{
    width: 2rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
}
.nav_toggler{
    cursor: pointer;
    display: ;
} */